*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(181, 181, 181);
}
header{
    width: 100%;
    background-color: orangered;
    margin-bottom: 2em;
}

header .cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
}

header .cabecalho .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

header .cabecalho .logo img{
    height: 5em;
    width: 5em;
}

header .cabecalho .logo p{
    font-size: 2.5em;
    color: white;
    font-weight: bold;
}

header .cabecalho .opcao-sair a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header .menu-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3em;
    background-color: rgb(255, 115, 0);
    
}

header .menu-navegacao ol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header .menu-navegacao ol li{
    cursor: pointer;
}

header .menu-navegacao ol li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.75em 1.25em;
    transition: background-color 0.3s;

}

header .menu-navegacao ol li a:hover{
    background-color: rgba(222, 222, 222, 0.386);
}

main .cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 1em;
    margin-left: 30%;
    margin-right: 30%;
    height: 45em;
}

main .cadastro form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2em;
}

main .cadastro form h1{
    color: orangered;
}

main .cadastro form label{
    margin-bottom: 1.5em;
}

main .cadastro form input{
    height: 2em;
    width: 25em;
    border: 2px solid rgb(209, 207, 207);
    padding-left: 2em;
}

main .cadastro .foto-perfil{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main .cadastro .foto-perfil p{
   color: orangered;
   font-weight: bold;
   margin-bottom: 1em;

}

main .cadastro .foto-perfil .botao-arquivo {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

main .cadastro .foto-perfil .botao-arquivo p{
    font-size: 12px;
    margin-top:1em;
    margin-left: 1em;
    color: black;
}

main .cadastro .foto-perfil .botao-arquivo button{
    padding: 8px;
    border: 1px solid orangered;
    border-radius: 4px;
    color: orangered;
    background-color: white;
    cursor: pointer;
}

main .cadastro .botao-cadastrar{
    margin-top: 2em;
}

main .cadastro .botao-cadastrar button{  
    width: 20em;
    height: 2.5em;
    text-align: center;
    background-color: orangered;
    color: white;
    margin-left: 2.5em;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

footer{
    display: flex;
    background-color: rgb(215,215,215);
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: rgb(169,169,169);
    margin-top: 10px;
}

footer p{
    color: rgb(169,169,169);
    margin-top: 20px;
}

footer .infos{
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(215,215,215); 

}

footer .infos h1{
    font-size: 10px;
    margin-bottom: 20px;

}

footer .infos p{
    margin-top: 0;
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(134, 128, 128);
    cursor: pointer;
}

footer .infos p:hover{
    color: rgb(255,96,61);
}

footer .pagamento{
    display: flex;
    flex-direction: column;
}

footer .pagamento #bancos{
    display: flex;
    flex-flow: wrap;
    width: 200px;
    
}

footer .redes{
    display: flex;
    flex-direction: column;
}

footer .redes a:hover{
    color: rgb(255,96,61) ;
}

footer .atendimento2{
    display: flex;
    flex-direction: column;
}

footer .atendimento2 #aplicativo{
    display: flex;
    flex-direction: column;

}

footer hr{
    width: 80%;
    margin: 10px auto;
    border: none;
    border-top: 2px solid rgb(169,169,169);
}