* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, Sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(215,215,215);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
    position: relative; 
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    margin-left: 200px;

}
.logo h1{
    color: rgb(255,96,61);
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px; 
}

.logo h1 {
    font-size: 24px;
}

#entre {
    font-size: 28px;
    color:rgb(0,0,0,);
    margin-bottom: 10px; 
}


#help {
    font-size: 14px;
    color: rgb(255,96,61);
    cursor: pointer; 
    position: absolute;
    bottom: 20px; 
    right: 200px; 
}

#help:hover {
    text-decoration: none; 
}

footer{
    display: flex;
    background-color: rgb(215,215,215);
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: rgb(169,169,169);
    margin-top: 10px;
}
footer p{
    color: rgb(169,169,169);
    margin-top: 20px;
}
footer .infos{
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(215,215,215); 

}
footer .infos h1{
    font-size: 10px;
    margin-bottom: 20px;

}
footer .infos p{
    margin-top: 0;
    font-size: 11px;
    margin-bottom: 5px;
    color: rgb(134, 128, 128);
    cursor: pointer;
}
footer .infos p:hover{
    color: rgb(255,96,61);
}
footer .pagamento{
    display: flex;
    flex-direction: column;
}
footer .pagamento #bancos{
    display: flex;
    flex-flow: wrap;
    width: 200px;
    
}
footer .redes{
    display: flex;
    flex-direction: column;
}
footer .redes a:hover{
    color: rgb(255,96,61) ;
}
footer .atendimento2{
    display: flex;
    flex-direction: column;
}
footer .atendimento2 #aplicativo{
    display: flex;
    flex-direction: column;

}



/* ADIÇÕES NOVAS DEPOIS VOCE ORGANIZA PRIMEIRA PAGINA */

nav ul{
    background-color: #fb7730;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    list-style: none;
}

nav ul li{
  list-style: none;
}

nav ul li a{
    color: white;
}

.main__xhoppi__banner{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.main__xhoppi__products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    margin: 10px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 1s;
}

.main__xhoppi__products:hover{
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__xhoppi__products p{
    align-self: flex-start;
    padding: 10px;
}

.main__xhoppi__products a{
    text-align: center;
    font-size: 1rem;
    color: gray;
    text-decoration: none;
}

.main__xhoppi__products img{
    height: 100px;
}

.main__xhoppi__products__price{
    display: flex;
    flex-direction: row;
    gap: 45px;
}


.color-gray{
    color: gray;
}

main h1{
    text-align: center;
    padding: 20px;
}